BLOG_ADMIN_USERNAME=admin
BLOG_ADMIN_PASSWORD=change-this-password
PORT=3000
BLOG_DATA_DIR=./data
BLOG_SESSION_TTL_HOURS=24
BLOG_LOGIN_WINDOW_MINUTES=15
BLOG_LOGIN_MAX_ATTEMPTS=8
BLOG_COOKIE_SECURE=false
